html {
  font-family: Mada, sans-serif;
  color: #393e46;
}

footer a {
  color: #393e46;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 2px solid #a7d129;
}

.banner-content {
  display: inline-block;
  position: absolute;
  bottom: 25%;
  width: 100%;
  background-color: transparent;
}

.hidden-on-small {
  display: none;
}

.responsive-round {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.responsive-rectangle {
  max-width: 400px;
  width: 100%;
  height: auto;
}

h1, h2, h3, button, legend, a, thead th, caption {
  font-family: Nunito, sans-serif;
  color: #415504;
}

nav a:hover {
  color: #a7d129;
}

.ratingcard, .plancard {
  border-radius: 10px;
  border: 3px solid #415504;
}

button {
  background-color: #415504;
  color: #fff;
  border: 3px solid #415504;
}

.plancard a:hover, .banner a:hover {
  background: #fff;
  color: #415504;
  border: 3px solid #415504;
  border-radius: 5px;
}

.plancard a, .banner a {
  text-align: center;
  color: #fff;
  background: #415504;
  padding: 10px;
  max-width: 170px;
  border-radius: 5px;
  font-family: Nunito, sans-serif;
  border: 3px solid #415504;
}

.checkicon img {
  width: 30px;
}

fieldset {
  border: 0;
}

.center-img {
  width: 400px;
}

.banner {
  background: url("../images/bannerbigscreen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.pad-r {
  padding-right: .5rem;
}

.checkicon {
  width: 15px;
}

textarea {
  height: 5em;
  width: 100%;
}

.form-wrapper, .table-wrapper, .ratingcard {
  background: #f3fadd;
}
/* .homeBtn{
  background-color: #fff;
      border: none;
}
.homeBtn:hover{
    background-color: #fff;
    border: none;
} */
.logotag {
  display: flex;
  justify-content: center;
}

form, .featurestable {
  background-color: #fff;
}

.featurestable {
  min-width: 500px;
}

table {
  background: #fff;
}

th, td {
  border: 2px solid #415504;
  padding: .5rem;
  vertical-align: middle;
  text-align: center;
}

@media only screen and (min-width: 38em) {

  .logotag {
    float: left;
    padding-left: 1rem;
    padding-top: .5rem;
  }

  .logo {
    width: 200px;
  }

  .navigation {
    float: none;
    text-align: right;
    padding-right: 1rem;
  }

  header nav {
    float: right;
  }

  .pad-r {
    padding-right: 40px;
  }

  .pad-l {
    padding-left: 40px;
  }

}
